.violet,
.violet:hover,
.violet:active,
.violet:focus {
  background-color: #9400d3;
}
.indigo {
  background-color: #4b0082;
}
.blue {
  background-color: #0000ff;
}
.green {
  background-color: #00ff00;
}
.yellow {
  background-color: #ffff00;
}
.orange {
  background-color: #ff7f00;
}
.red {
  background-color: #ff0000;
}
.body {
  color: white;
}
